<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:include="common/head"></th:block>

<body>
<th:block th:include="common/header"></th:block>

<div class="jumbotron">
    <h3 class="text-center">Sign up</h3>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form th:action="@{/register}" id="registerForm" method="post">
                <div class="form-group">
                    <label class="control-label" for="username">Username: </label>
                    <input type="text" id="username" name="username" class="form-control" placeholder="Username..."
                           th:value="${username}"/>
                </div>
                <div class="form-group">
                    <label class="control-label" for="password">Password: </label>
                    <input type="password" id="password" name="password" class="form-control"
                           placeholder="Password..."/>
                </div>
                <div class="form-group">
                    <label class="control-label" for="confirmPassword">Confirm password: </label>
                    <input type="password" id="confirmPassword" name="confirmPassword" class="form-control"
                           placeholder="Confirm password..."/>
                </div>
                <div class="form-group">
                    <label class="control-label" for="email">Email: </label>
                    <input type="email" id="email" name="email" class="form-control"
                           placeholder="Email..." th:value="${email}"/>
                </div>
                <div class="form-group">
                    <label class="control-label" for="livingPlace">Living Place: </label>
                    <input type="text" id="livingPlace" name="livingPlace" class="form-control"
                           placeholder="Living Place..." th:value="${livingPlace}"/>
                </div>
                <div class="form-group">
                    <label class="control-label" for="phoneNumber">Phone Number: </label>
                    <input type="text" id="phoneNumber" name="phoneNumber" class="form-control"
                           placeholder="Phone Number..." th:value="${phoneNumber}"/>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gender" value="male" id="male" checked>
                    <label class="form-check-label" for="male">Male</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gender" value="female" id="female">
                    <label class="form-check-label" for="female">Female</label>
                </div>
                <div class="form-group">
                    <label for="datepicker" class="form-control-label">Birthdate:</label>
                    <input class="form-control" id="datepicker" name="birthdate" width="276" placeholder="Birthdate..."
                           th:value="${birthdate}" readonly/> <br/>
                </div>
                <input type="submit" value="Sign up" class="btn btn-primary"/>
            </form>
        </div>
    </div>
</div>

<th:block th:include="common/footer"></th:block>

<script>
    $('#datepicker').datepicker({
        uiLibrary: 'bootstrap4',
        format: 'dd/mm/yyyy'
    });
</script>
</body>
</html>