<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:include="common/head"></th:block>

<body>
<th:block th:include="common/header"></th:block>

<div class="jumbotron">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1>Submit an Ad</h1>
            <form th:action="@{/ads/create}" method="post" enctype="multipart/form-data" class="dropzone" id="dropzone">
                <div class="form-group">
                    <label class="control-label" for="title">Title: </label>
                    <input type="text" id="title" name="title" class="form-control" placeholder="Title..."
                           th:value="${title}"/>
                </div>
                <p>Select categories:</p>
                <th:block th:each="category : ${categories}">
                    <div class="form-group form-check-inline">
                        <input type="checkbox" class="form-check-input" name="categoryIds" th:value="${category.id}"
                               th:id="${category.id}"
                               th:checked="${selectedCategories.contains(category.id.toString())}">
                        <label class="form-check-label" th:for="${category.id}" th:text="${category.name}"></label>
                    </div>
                </th:block>
                <div class="form-group">
                    <label class="control-label" for="price">Price: </label>
                    <input type="number" id="price" name="price" class="form-control" placeholder="Price..."
                           th:value="${price}"/>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" name="description" id="description" rows="4"
                              placeholder="Description..."></textarea>
                </div>
                <div class="fallback">
                    <input name="photos" type="file" multiple/>
                </div>
                <button id="submitBtn" type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

<th:block th:include="common/footer"></th:block>
<script>
    Dropzone.autoDiscover = false;
    $(function () {
        var myDropzone = new Dropzone('#dropzone', {
            url: "/ads/create",
            paramName: "photos", // The name that will be used to transfer the file
            maxFilesize: 1, // MB
            autoProcessQueue: false,
            addRemoveLinks: true,
            parallelUploads: 10,
            uploadMultiple: true,
            acceptedFiles: 'image/jpg, image/jpeg, image/png',
            dictDefaultMessage: "Drag your photos",
            successmultiple: function (files, res) {
                if (res.error) {
                    toastr.error(res.error, 'Error');
                    $('#submitBtn').removeAttr('disabled');
                    $('#submitBtn').text('Submit');
                } else {
                    window.location.href = '/';
                }
            },
            errormultiple: function (file, err, xhr) {
                toastr.error(err.error, 'Error');
                $('#submitBtn').removeAttr('disabled');
                $('#submitBtn').text('Submit');
                var dropzoneFilesCopy = myDropzone.files.slice(0);
                myDropzone.removeAllFiles();
                $.each(dropzoneFilesCopy, function(index, file) {
                    if (file.status === Dropzone.ERROR) {
                        file.status = undefined;
                        file.accepted = undefined;
                    }
                    myDropzone.addFile(file);
                });

            }
        });
        myDropzone.on('success', myDropzone.processQueue.bind(myDropzone));

        $('#dropzone').on('submit', function (e) {
            e.preventDefault();
            if (myDropzone.getQueuedFiles().length > 0) {
                $('#submitBtn').attr('disabled', 'true');
                $('#submitBtn').text('Please wait...');
                myDropzone.processQueue();
            } else {
                toastr.error('You must upload at least one photo.', 'Error');
            }
        })
    });
</script>
</body>
</html>