<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:include="common/head"></th:block>

<body>
<th:block th:include="common/header"></th:block>

<div class="jumbotron">
    <a href="/admin/categories/create" class="btn btn-warning">
        Create Category
    </a>

    <h2 class="text-center">All Categories</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="category : ${categories}">
            <th scope="row" th:text="${category.id}"></th>
            <td th:text="${category.name}"></td>
            <td><a th:href="@{/admin/categories/edit/{id}(id=${category.id})}" class="btn btn-secondary"><i class="fas fa-edit"></i>Edit</a></td>
        </tr>
        </tbody>
    </table>
</div>

<th:block th:include="common/footer"></th:block>
</body>
</html>